---
layout: 2015-cinderella-base
active-home: true
alias: index.html
site_class: intro not-from-page
title: Cinderella
---

<style type="text/css">
    #site #canvas #header-wrapper {
        height: 588px;
        padding-bottom: 0;
    }
    #audition-date {
        /*border-top: 5px dashed #eee;
        border-bottom: 5px dashed #eee;*/
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 0;
    }
    #audition-location {
        text-align: center;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
    }

    #listen {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #listen h3 {
        margin-bottom: 10px;
    }

    .normal-width {
        max-width: 750px;
        margin: 0 auto;
    }

    strong {
        font-weight: 600;
    }

    #lyrics {
        margin-top: 60px;
        margin-bottom: 100px;
    }
    #lyrics .song {
        width: 50%;
        font-size: 14px;
        float: left;
        margin-bottom: 40px;
    }
    #lyrics .song h3 {
        font-size: 18px;
        /*margin-bottom: 8px;*/
    }
    #lyrics .song p {
        margin-bottom: 8px;
    }

    @media only screen and (max-width: 1023px) {
        #lyrics .song {
            float: none;
            width: 100%;
        }
        #lyrics {
            max-width: 750px;
            margin: 0 auto;
        }
    }

    #site #canvas #page-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    #site #canvas #page-wrapper article {
        max-width: 984px;
        padding: 0 20px;
    }

    #site #canvas #page-wrapper #music {
        background-color: #333;
        padding: 60px 0 1px;
        background-image: linear-gradient(#ddd, #aaa);
        border-top: 1px solid #ccc;
    }
    #music p {
        /*color: #ddd;*/
    }
    #music h3 {
        color: #000;
        font-weight: 400;
    }
    #scripts {
        padding-top: 60px;
    }
    #scripts .title,
    #music .title {
        text-align: center;
        color: black;
        /*text-transform: uppercase;*/
        font-size: 100px;
        font-family: 'Stalemate', cursive;
        font-weight: normal;
        /*font-family: 'Montserrat', sans-serif;*/
        /*font-family: 'Shadows Into Light', cursive;*/
    }
    #scripts .lines .title {
        font-size: 50px;
        font-family: 'Shadows Into Light', cursive;
    }

    #toggle-lyrics {
        border-top: 2px solid #666;
        text-align: center;
        margin-bottom: 70px;
    }
    #toggle-lyrics a {
        padding: 2px 80px;
        background-color: #666;
        border-radius: 3px;
        position: relative;
        top: -14px;
        color: white;
        text-transform: uppercase;
    }
    #toggle-lyrics a:hover {
        background-color: #444;
    }

    #lines {
        min-height: 500px;
    }

    #show-dates {
        color: rgba(255,255,255,0.9);
        text-align: center;
        position: relative;
        top: -20px;

        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        /*font-family: 'Shadows Into Light', cursive;*/

        font-size: 30px;
        text-shadow: 0 0 5px black;
    }

    sup {
        vertical-align: super;
        font-size: 0.5em;
    }

    #cta-scripts p {
        padding-right: 20px;
    }
</style>

<div id="header-wrapper" class="nav-show-all">
    <div id="header">
        <div id="header-bg"></div>

        <div id="positioner">
            <p id="who-are-we" class="anim anim-fadein">Lowdham Pantomime Group</p>
            <!-- <p id="presents">presents</p> -->
            <h1 id="title" class="site-title">
                <a href="{{ page.root }}" class="anim anim-fadeindown">Cinderella</a>
            </h1>
            <!-- <div id="show-dates">18<sup>th</sup> – 21<sup>st</sup> Feb 2015</div> -->
            <!-- <p id="call-to-action">Welcome to the resource pack! Go invesitage:</p> -->
        </div>
    </div>

    <!-- <div id="nav-wrapper" class="anim">
        {% comment %} {% include 2015-cinderella/nav.html %} {% endcomment %}
    </div> -->
</div>
<div id="page-wrapper">
    <h1 id="audition-date">Audtions September 10th</h1>
    <p id="audition-location">Lowdham Village Hall</p>

    <article>
        <div id="call-to-action" class="normal-width cf" style="margin-top: 80px; margin-bottom: 80px;">
            <div id="cta-scripts" style="float: left; width: 50%">
                <h2>Auditioning For A Main Part?</h2>
                <p>View copies of the script excerpts you'll have to read in auditions by scrolling down to the <a id="scroll-to-lines" href="#scripts">Audition Scripts</a> section.</p>
            </div>
            <div id="cta-music" style="float: left; width: 50%">
                <h2>Auditioning For A <span style="color: red">Singing</span> Role?</h2>
                <p>If your character is a singing role, polish up on the audtion song for you character in the <a id="scroll-to-music" href="#music">Audition Music</a> section below:</p>
            </div>
        </div>

    </article>

    <div id="music">
        <h2 class="title">Auditon Music</h2>

        <article>
            <div id="toggle-lyrics"><a href="#lyrics">Click here to <span>Show</span> lyrics</a></div>
            <div id="lyrics" class="cf" style="display: none">
                <div class="song">
                    <h3>Cinderella • Once Upon A Dream</h3>
                    <p>
                        Once there was a time like no other time before, <br>
                        Hope was still and open door, once upon a dream.
                    </p>
                    <p>
                        And I was unafraid, the dream was so exciting! <br>
                        But now I see it fade, and I am here alone!
                    </p>
                    <p>
                        Once upon a dream, you were heaven-sent to me, <br>
                        Was it never meant to be? Was it just a dream?
                    <p>
                    <p>
                        Could we being again? Once upon a dream.
                    </p>
                </div>

                <div class="song">
                    <h3>Charming • Madness</h3>
                    <p>
                        And now I need to know is this real love, <br>
                        Or is it just madness keeping us afloat?
                    </p>
                    <p>
                        But I have finally seen the light, <br>
                        And I have finally realised...
                    </p>
                    <p>
                        I need to love, <br>
                        I need to love
                    <p>
                    <p>
                        Come to me, just in a dream, come on and rescue me. <br>
                        Yes I know, I can be wrong, maybe I'm to headstrong.
                    </p>
                </div>

                <div class="song">
                    <h3>Buttons • To Love Somebody</h3>
                    <p>
                        There's a light, a certain kind of light, that never shone on me. <br>
                        And I'd like my life to be, lived with her, lived with her.
                    </p>
                    <p>
                        There's a way, everybody say, to do each and every little thing. <br>
                        But what does it bring, if I ain't got her, if I ain't got her?
                    </p>
                    <p>
                        Ohhoh you don't know what it's like, ohhoh you don't know what it's like <br>
                        To love somebody, to love somebody, the way I love... her.
                    <p>
                </div>

                <div class="song">
                    <h3>Fairy • When You Believe</h3>
                    <p>
                        Many nights you've prayed, with no proof anyone could hear, <br>
                        In your heart a hopeful song you bearely understood. <br>
                        But now you're not afraid, although you know there's much to fear, <br>
                        You were moving mountains long before you knew you could.
                    </p>
                    <p>
                        There can be miracles, when you believe, <br>
                        Though hope is frail, it's hard to kill. <br>
                        Who knows what miracles you can achieve, <br>
                        When you believe somehow you will, you will when you believe.
                    </p>
                </div>

                <div class="song">
                    <h3>Baroness • Welcome Home</h3>
                    <p>
                        You could've been all I wanted, <br>
                        But you weren't honest, now get in the cellar!
                    </p>
                    <p>
                        You choked off the surest of favors, <br>
                        But if you really loved me, you would've endured my world.
                    </p>
                    <p>
                        Hang on to the glory at my right hand, <br>
                        Here laid to rest is our love ever longed, <br>
                        With truth on the shores of compassion. <br>
                        You seem to take premise to all of these...
                    </p>
                    <p>
                        One last chance for you, one more wish to you, <br>
                        Please make up your mind girl, I'd do anything for you <br>
                        ...last chance for you, one more wish to you, <br>
                        Please make up your mind girl, Before I hope you
                    </p>
                </div>

                <div class="song">
                    <h3>Hyacinth &amp; Lowercinth • Oh Boy</h3>
                    <p>
                        All'a my love, all'a my kissin', <br>
                        You don't know what you been a missin', oh boy!
                    </p>
                    <p>
                        When you're with me, oh boy! <br>
                        The world will see that you were meant for me!
                    </p>
                    <p>
                        All'a my life I've been a'waitin', <br>
                        Tonight there'll be no hesitatin', oh boy!
                    </p>
                    <p>
                        When you're with me, oh boy! <br>
                        The world will see that you were meant for me!
                    </p>
                    <p>
                        Stars appear and the shadows a' fallin' <br>
                        You can hear my heart a' callin' <br>
                        A little bit o' lovin' makes everythin' right. <br>
                        Am I gonna see my baby tonight?
                    </p>
                </div>
            </div>
        </article>

        <article>
            <div id="listen" class="audio-resources three-col cf">
                <div id="listen-guide" class="col-1">
                    <div class="inner">
                        <div class="desc">
                            <h3>1. Learn it using the guide track</h3>
                            <p>Choose your character in this playlist and sing along to the piano melody:</p>
                        </div>
                        <div class="embed-wrapper">
                            {% include 2015-cinderella/soundcloud-playlist.html playlist="49338312%3Fsecret_token%3Ds-EXKTg" height="410" color="aaaaaa" %}
                        </div>
                    </div>
                </div>
                <div id="listen-original" class="col-2">
                    <div class="inner">
                        <div class="desc">
                            <h3>2. Listen to the Original Song</h3>
                            <p>If you're unfamilar with the song, listen to the original on spotify:</p>
                        </div>
                        <div class="embed-wrapper">
                            <iframe src="https://embed.spotify.com/?uri=spotify:user:marcuswhybrow:playlist:2OD96ir0ZRr1Y8hIvR7Nak" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
                        </div>
                    </div>
                </div>
                <div id="listen-backing" class="col-3">
                    <div class="inner">
                        <div class="desc">
                            <h3>3. Practice with the backing track</h3>
                            <p>This is the track we'll use in the audition, get used to singing with it:</p>
                        </div>
                        <div class="embed-wrapper">
                            {% include 2015-cinderella/soundcloud-playlist.html playlist="49338220%3Fsecret_token%3Ds-d4IxW" height="410" color="aaaaaa" %}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    

    <div id="scripts">
        <h2 class="title">Audition Scripts</h2>
        <p style="text-align: center; position: relative; top: -40px">Choose your character below</p>

        <article>
            <div id="lines">
                <ul class="lines-characters cf">
                    <li class="active"><a href="#lines-cinderella" data-character="cinderella">Cinderella</a></li>
                    <li><a href="#lines-charming" data-character="charming">Charming</a></li>
                    <li><a href="#lines-hyacinth" data-character="hyacinth">Hyacinth</a></li>
                    <li><a href="#lines-lowercinth" data-character="lowercinth">Lowercinth</a></li>
                    <li><a href="#lines-baroness" data-character="baroness">Baroness</a></li>
                    <li><a href="#lines-dandini" data-character="dandini">Dandini</a></li>
                    <li><a href="#lines-buttons" data-character="buttons">Buttons</a></li>
                </ul>
                <div class="lines-group lines-cinderella" data-character="cinderella" style="display: block">
                    {% include 2015-cinderella/auditions/buttons-cinderella-hyacinth-lowercinth.html title="Excerpt 1 of 2" %}
                    {% include 2015-cinderella/auditions/buttons-cinderella.html title="Excerpt 2 of 2" %} 
                </div>
                <div class="lines-group lines-charming" data-character="charming">
                    {% include 2015-cinderella/auditions/advisers-queen-charming-king-organiser.html title="Excerpt 1 of 3" %}
                    {% include 2015-cinderella/auditions/charming-dandini.html title="Excerpt 2 of 3" %}
                    {% include 2015-cinderella/auditions/dandini-queen-charming-advisers-king.html title="Excerpt 3 of 3" %}
                </div>
                <div class="lines-group lines-hyacinth" data-character="hyacinth">
                    {% include 2015-cinderella/auditions/buttons-cinderella-hyacinth-lowercinth.html title="Excerpt 1 of 1" %}
                </div>
                <div class="lines-group lines-lowercinth" data-character="lowercinth">
                    {% include 2015-cinderella/auditions/buttons-cinderella-hyacinth-lowercinth.html title="Excerpt 1 of 1" %}
                </div>
                <div class="lines-group lines-baroness" data-character="baroness">
                    <p style="text-align: center; font-family: 'Shadows Into Light', cursive; color: #666; margin: 60px 0 60px; font-size: 40px">Sorry, no excerpts available yet</p>
                </div>
                <div class="lines-group lines-dandini" data-character="dandini">
                    {% include 2015-cinderella/auditions/charming-dandini.html title="Excerpt 1 of 3" %}
                    {% include 2015-cinderella/auditions/dandini-queen-charming-advisers-king.html title="Excerpt 2 of 3" %}
                    {% include 2015-cinderella/auditions/queen-king-dandini-charming.html title="Excerpt 3 of 3" %}
                </div>
                <div class="lines-group lines-buttons" data-character="buttons">
                    {% include 2015-cinderella/auditions/buttons-cinderella-hyacinth-lowercinth.html title="Excerpt 1 of 2" %}
                    {% include 2015-cinderella/auditions/buttons-cinderella.html title="Excerpt 2 of 2" %}
                </div>
            </div>

            <footer>
                <div class="ask">
                    <p class="who">Questions? Ask <a href="mailto:marcus@pantohq.com">marcus@pantohq.com</a></p>
                    <p class="why">Writer &amp; Musical Director</p>
                </div>
            </footer>
        </article>
    </div>
</div>
<div id="footer-wrapper">

</div>
