<div class="lines cf">
	{% if include.title %}<div class="title">{{ include.title }}</div>{% endif %}
	
	{% include 2015-cinderella/line.html character="adviser1" line="What a morning, taxes successfully raised <u>and</u> this. Oh I can't wait to see his face. Here he is, I wonder how he's going to take it. I can't wait Ooo so exciting!" %}
	{% include 2015-cinderella/line.html character="adviser2" line="I reckon he'll complain like last time, he's so useless this kid does nothing all day, as you know, but have you heard his music yet? Let me tell you, it's absolutely terrible, there's nothing good to say there." %}
	{% include 2015-cinderella/line.html character="adviser3" line="I doubled my investment this morning, doubled! I think I'm going to start work on that third home I was telling you about, it's out in the county so nice and relaxing when I want to get away from all this stress." %}
	{% include 2015-cinderella/line.html character="adviser4" line="I hope he realises he's supposed to find a bride in this one. How old is he now? How many years has he ignored his duty. I think they're gonnabe a little more explicit this year." %}
	{% include 2015-cinderella/line.html character="queen" line="Morning Charming." %}
	{% include 2015-cinderella/line.html character="charming" line="Nope. I'm just fine thank you." %}
	<div class="stage-direction">Shoots a knowing glance to Dandini, who rolls his eyes. Queen looks confused.</div>
	{% include 2015-cinderella/line.html character="king" line="(MAKING AWKWARD SMALL TALK) Still working on your songs?" %}
	<div class="stage-direction">charming and king start talking, ignoring the queen</div>
	{% include 2015-cinderella/line.html character="charming" line="Oh, yes, just finishing my new piece. This on'es about the [disparity between rich and poor.]" %}
	{% include 2015-cinderella/line.html character="queen" line="Actually Charming, your father and I have a surprise for you..." %}
	{% include 2015-cinderella/line.html character="charming" line="Oh" %}
	{% include 2015-cinderella/line.html character="queen" line="After considering the words" %}
	{% include 2015-cinderella/line.html character="charming" line="(SHORT/BORED) Oh ok." %}
	{% include 2015-cinderella/line.html character="queen" line="...of our closest advisers..." %}
	<div class="stage-direction">The advisers bow/curtsy at the mention of their influence</div>
	{% include 2015-cinderella/line.html character="queen" line="We're going to hold a royal ball, (SELLING THE IDEA) in your name, here at the palace." %}
	<div class="stage-direction">The queen looks hopefully at charming, whilst the king smiles in that simple way as if watching someone open a preset from him.</div>
	<div class="stage-direction">The king places his hand on the queens back</div>
	<div class="stage-direction">Charming turns away (facing the audience) to gather his thoughts, then quickly responds:</div>
	{% include 2015-cinderella/line.html character="charming" line="(SARCASTICALLY) Oh brilliant... Another year, another ball, is that it?" %}
	{% include 2015-cinderella/line.html character="queen" line="(REPRIMAND) Charming..." %}
	{% include 2015-cinderella/line.html character="charming" line="But I don't want that, they're so boring!" %}
	<div class="stage-direction">organiser enters stage right smartly dressed with a clipboard and quill.</div>
	{% include 2015-cinderella/line.html character="organiser" line="Morning your majesty the decorations for the ball have arrived." %}
	<div class="stage-direction">shows the clipboard to queen who analyses it.</div>
	{% include 2015-cinderella/line.html character="charming" line="What?" %}
	{% include 2015-cinderella/line.html character="queen" line="Oh have the stored in the main hall." %}
	{% include 2015-cinderella/line.html character="charming" line="Wait wait wait" %}
	<div class="stage-direction">the queen now looks up from the clipboard</div>
	{% include 2015-cinderella/line.html character="queen" line="Charming what would you say for hors d'oeuvres?" %}
	{% include 2015-cinderella/line.html character="charming" line="No hors d'oeuvres, no ball. I don't want a ball!" %}
	<div class="stage-direction">The king finds himself awkwardly speaking in ill-timed limerick.</div>
	{% include 2015-cinderella/line.html character="king" line="Oh Charming, it won't be so bad / And if... you don't go you'll wish that you... had / and who really knows / just see ow it goes (HE'S BACK) / because you're quite the desireable lad (SUCCESS!)." %}
	<div class="stage-direction">An awkward silence</div>
</div>
