<div class="lines cf">
	{% if include.title %}<div class="title">{{ include.title }}</div>{% endif %}
	
	<div class="stage-direction">cinderella looks into buttons eyes</div>
	{% include 2015-cinderella/line.html character='buttons' line='How long have we known each other? <span class="direction">he takes cinderella\'s hands</span>' %}
	{% include 2015-cinderella/line.html character='cinderella' line='All out lives–' %}
	{% include 2015-cinderella/line.html character='buttons' line='All our lives, and in that time I\'ve never met anyone kinder than you.' %}
	{% include 2015-cinderella/line.html character='cinderella' line='Buttons.' %}
	{% include 2015-cinderella/line.html character='buttons' line='Nobody\'s smarter than you... and nobody works harder.' %}
	{% include 2015-cinderella/line.html character='cinderella' line='Where\'s all this going?' %}
	{% include 2015-cinderella/line.html character='buttons' line='It\'s just that...' %}
	{% include 2015-cinderella/line.html character='cinderella' line='Yes?' %}
	{% include 2015-cinderella/line.html character='buttons' line='It\'s just that I err...' %}
	{% include 2015-cinderella/line.html character='cinderella' line='What is it Buttons?' %}
	{% include 2015-cinderella/line.html character='buttons' line='Oh... Shall I tell her boys and girls?' %}
	{% include 2015-cinderella/line.html character='cinderella' line='Tell me what?' %}
	{% include 2015-cinderella/line.html character='buttons' line='OK... Well here it is: I... luh... luh... luh...' %}
	{% include 2015-cinderella/line.html character='hyacinth' character2='lowercinth' line='<span class="direction">offstage, shouting</span> Cinderella!!' %}
	{% include 2015-cinderella/line.html character='cinderella' line='Buttons, you have to go.' %}
	{% include 2015-cinderella/line.html character='lowercinth' line='Cinderella!!' %}
	{% include 2015-cinderella/line.html character='cinderella' line='Quickly.' %}
	<div class="stage-direction">buttons darts about the stage and is just about to exit stage left when</div>
	<div class="stage-direction">hyacinth &amp; lowercynth enter stage left</div>
	{% include 2015-cinderella/line.html character='hyacinth' line='There you are Cinderella.' %}
	<div class="stage-direction">they soak up audience reaction as they walk to center stage</div>
	{% include 2015-cinderella/line.html character='lowercinth' line='Well, well... well, well, well. What do we have here?' %}
	{% include 2015-cinderella/line.html character='cinderella' line='Hyacinth, Lowercinth' %}
	{% include 2015-cinderella/line.html character='Lowercinth' line='Ohh. Hanging around with scruffy orphan boy again?' %}
	{% include 2015-cinderella/line.html character='hyacinth' line='Finished your shoppinh have you?' %}
	{% include 2015-cinderella/line.html character='cinderella' line='Yes Hyacinth' %}
	{% include 2015-cinderella/line.html character='lowercinth' line='Cinderella! You promised me a new party dress, yesterday!' %}
	{% include 2015-cinderella/line.html character='hyacinth' line='How are we supposed to pull without our new trendy dresses?' %}
</div>
