<div class="lines cf">
	{% if include.title %}<div class="title">{{ include.title }}</div>{% endif %}
	
	{% include 2015-cinderella/line.html character="buttons" line="Ohh! They're so stupid-" %}
	{% include 2015-cinderella/line.html character="cinderella" line="Buttons!" %}
	{% include 2015-cinderella/line.html character="buttons" line="You should be going to parties. You do everythng for them, and no one does anything for you." %}
	{% include 2015-cinderella/line.html character="cinderella" line="(CALM) I don't mind it so much." %}
	{% include 2015-cinderella/line.html character="buttons" line="Why not?" %}
	{% include 2015-cinderella/line.html character="cinderella" line="Well it's my home I like to take care of it even if they won't." %}
	<div class="stage-direction">buttons becomes more anxious</div>
	{% include 2015-cinderella/line.html character="buttons" line="Exactly which is why you should be in charge." %}
	{% include 2015-cinderella/line.html character="cinderella" line="Buttons, it's none of your business. (SHE WENT TOO FAR) I mean." %}
	<div class="stage-direction">buttons is wounded and falls silent</div>
	{% include 2015-cinderella/line.html character="cinderella" line="Will you stop bringing it up?" hideCharacter="true" %}
	{% include 2015-cinderella/line.html character="buttons" line="We're not talking about your la-sag-ney are we?" %}
	{% include 2015-cinderella/line.html character="cinderella" line="(SMILES) What? I thought you liked my lasagne!" %}
	{% include 2015-cinderella/line.html character="buttons" line="Yes me too... you see, you're good at everything! (PAUSE) So maybe?" %}
	{% include 2015-cinderella/line.html character="cinderella" line="No!" %}
	{% include 2015-cinderella/line.html character="buttons" line="If we just had a word" %}
	{% include 2015-cinderella/line.html character="cinderella" line="No!" %}
	<div class="stage-direction">they talk over each other</div>
	{% include 2015-cinderella/line.html character="buttons" line="with them they'd realise all the work you do and see how kind you are." %}
	{% include 2015-cinderella/line.html character="cinderella" line="we're not going to talk to them!" %}
	<div class="stage-direction">buttons carries on</div>
	{% include 2015-cinderella/line.html character="buttons" line="Well why is it they hate you," %}
	<div class="stage-direction">cinderella interrupts as buttons continues talking</div>
	{% include 2015-cinderella/line.html character="cinderella" line="It doesn't matter if they hate me or not, I'm not going to let the house fall to pieces just because they won't do anything about it?" %}
	{% include 2015-cinderella/line.html character="buttons" line="when everyone else likes you? Everyone in the village loves you, I love you, so why don't they love you?" %}
	{% include 2015-cinderella/line.html character="cinderella" line="Wait what?" %}
	{% include 2015-cinderella/line.html character="buttons" line="Nope." %}
	{% include 2015-cinderella/line.html character="cinderella" line="Did you just say–" %}
	{% include 2015-cinderella/line.html character="buttons" line="No." %}
	
</div>
