<div class="lines cf">
	{% if include.title %}<div class="title">{{ include.title }}</div>{% endif %}
	
	{% include 2015-cinderella/line.html character="charming" line="Sorry?" %}
	{% include 2015-cinderella/line.html character="dandini" line="I'm mourning the death of music (PAUSE) thanks to you." %}
	{% include 2015-cinderella/line.html character="charming" line="Dandini! OK I may not be the best but, look have a listen. I'm finishing that piece about the disparity between rich and poor. I think if I play this at court today, they'll have to come round." %}
	{% include 2015-cinderella/line.html character="dandini" line="With pitch forks sire, they'll come round with pitch forks." %}
	{% include 2015-cinderella/line.html character="charming" line="But my piano's already in tune?" %}
	<div class="stage-direction">Guard1 and Guard2 exchange a condescending glance smirking to themselves. Dandini scolds them with his eyes. Then turns back to charming.</div>
	{% include 2015-cinderella/line.html character="dandini" line="Pitch forks to \"run you through\" sire!" %}
	{% include 2015-cinderella/line.html character="charming" line="Well I'm at the end of my tether Dandini this has to work." %}
	{% include 2015-cinderella/line.html character="dandini" line="Couldn't you just speak to the court instead." %}
	{% include 2015-cinderella/line.html character="charming" line="I may be a Prince, but nobody really cares what I think. You know better than anyone I'm shuttled around like some mascot, Dandini. Dining, dancing, discussing... it's not me they're talking to is it, it's some fairy take prince." %}
	<div class="stage-direction">Dandini joins charming on the piano stool posed to give advice</div>
	{% include 2015-cinderella/line.html character="dandini" line="There are those that care... the <u>people</u> depend on you." %}
	<div class="stage-direction">Charming turns to Dandini</div>
	{% include 2015-cinderella/line.html character="charming" line="For what?" %}
	<div class="stage-direction">Dandini stands up</div>
	{% include 2015-cinderella/line.html character="charming" line="They'll be fine on their own" hideCharacter="true" %}
</div>
