<div class="lines cf">
	{% if include.title %}<div class="title">{{ include.title }}</div>{% endif %}
	
	<div class="stage-direction">charming is depressed all over again</div>

	{% include 2015-cinderella/line.html character='dandini' line='What about the slipper Charming?' %}
	{% include 2015-cinderella/line.html character='queen' line='The slipper?' %}
	{% include 2015-cinderella/line.html character='charming' line='The slipper!' %}
	{% include 2015-cinderella/line.html character='advisers' line='The slipper?' %}
	{% include 2015-cinderella/line.html character="dandini" line="(TO AUDIENCE) The slipper!" %}

	{% include 2015-cinderella/line.html character="charming" line="Dandini you're a genius! (TO KING AND QUEEN) If we can find the foot that fits this slipper we'll have found her." %}
	<div class="stage-direction">charming hands the slipper to the queen. after looking at if for a moment:</div>
	{% include 2015-cinderella/line.html character="queen" line="Charming... nobody recognises her... she can't be from an important family. We can't go looking for someone who might turn out to be a nobody." %}
	<div class="stage-direction">charming slowly takes the slipper back</div>
	{% include 2015-cinderella/line.html character="charming" line="(RESENTFUL AND SUSPICIOUS) What are you saying?" %}
	{% include 2015-cinderella/line.html character="queen" line="Think about it. We'd have to search every house in the land to be sure to find this girl. (PAUSE) Look, you're supposed to marry an important bride from a respected family." %}
	{% include 2015-cinderella/line.html character="charming" line="She is important!" %}
	{% include 2015-cinderella/line.html character="queen" line="Do you have any idea how much effort finding her would take? How public that would be?" %}
	{% include 2015-cinderella/line.html character="charming" line="(SLOWLY SHAKING HIS HEAD) I don't care. You said find a bride, that's what I did." %}
	{% include 2015-cinderella/line.html character="queen" line="She's not the right bride." %}
	{% include 2015-cinderella/line.html character="charming" line="(SLIGHTLY RAISED VOICE) She's right for me!" %}
	<div class="stage-direction">a brief silence as charming scales back his aggressive tone</div>
	{% include 2015-cinderella/line.html character="charming" line="I'll walk the streets to find her myself then..." hideCharacter="true" %}

	{% include 2015-cinderella/line.html character="king" line="(PITYING/DISAPPOINTED) Charming" %}
	{% include 2015-cinderella/line.html character="charming" line="And we'll have our own marriage to which you will not be invited." %}
</div>
