<div class="lines cf">
	{% if include.title %}<div class="title">{{ include.title }}</div>{% endif %}
	
	{% include 2015-cinderella/line.html character="keyboard" line="Nasty <u>Tchaikovsky</u> you've got there." %}

	{% include 2015-cinderella/line.html character="cinderella" line="(FROM OFFSTAGE) Who are you talking too?" %}
	{% include 2015-cinderella/line.html character="fairy" line="(TO KEYBOARD) Look I'm trying to work my magic here!" %}
	{% include 2015-cinderella/line.html character="keyboard" line="So you don't need a pat on <u>Bach</u>?" %}
	{% include 2015-cinderella/line.html character="fairy" line="No!" %}
	{% include 2015-cinderella/line.html character="keyboard" line="<u>Fairy</u>-nough!" %}
	{% include 2015-cinderella/line.html character="fairy" line="That's enough" %}
	{% include 2015-cinderella/line.html character="keyboard" line="Rachmaninov? You got it!" %}
	<div class="stage-direction">Kayboard plays some Rachmaninov</div>
	{% include 2015-cinderella/line.html character="fairy" line="No! Look, what are you doing?!... Why are you even here?" %}
	{% include 2015-cinderella/line.html character="keyboard" line="Well: <u>Vivaldi</u> <u>Chopin</u> I do I'm <u>Offenbach</u> on <u>Debussy</u> completely <u>Brahms</u> and <u>Lizt</u>. Lately I can't <u>Handel</u> it, so I'm <u>Haydn</u> in the panto band." %}
	<div class="stage-direction">(APPLAUSE)?</div>
	{% include 2015-cinderella/line.html character="cinderella" line="What's going on out there?" %}
	{% include 2015-cinderella/line.html character="fairy" line="(TO KEYBOARD) As I was saying (TO CINDERELLA) Because Cinderella..." %}
	<div class="stage-direction"><strong>Sound: Door unlocking</strong></div>
	<div class="stage-direction"><strong>Lights: White, full</strong></div>
	{% include 2015-cinderella/line.html character="fairy" line="I'm your fairy godmother!" hideCharacter="true" %}
	<div class="stage-direction">Cinderella enters stage right</div>
	{% include 2015-cinderella/line.html character="fairy" line="And I've travelled a long way to be with you Cinderella. (TO AUDIENCE) You might say a fairy godmother goes a lot further than other cheaper godmothers. (SINGS) \"Hands that do wishes!\" Now, don't you have a ball to go to?" hideCharacter="true" %}
	{% include 2015-cinderella/line.html character="cinderella" line="(DEPRESSED AGAIN) Oh I'm not going to the ball now. Hyacinth ripped up my ticket..." %}
	<div class="stage-direction">Fairy looks at audience compassionately</div>
	{% include 2015-cinderella/line.html character="cinderella" line="...and my dress." %}
</div>
