<div class="lines cf">
	{% if include.title %}<div class="title">{{ include.title }}</div>{% endif %}
	
	{% include 2015-cinderella/line.html character="king" line="Calm down Charming" %}
	{% include 2015-cinderella/line.html character="charming" line="And When I'm King..." %}
	{% include 2015-cinderella/line.html character="queen" line="Oh when your King?" %}
	{% include 2015-cinderella/line.html character="charming" line="When I'm King there won't be [any rules about who you can marry]" %}
	{% include 2015-cinderella/line.html character="queen" line="You don't know the first thing about being in charge." %}
	{% include 2015-cinderella/line.html character="charming" line="I know I wouldn't let myself be controlled by these (ADVISERS) self interested fools." %}
	{% include 2015-cinderella/line.html character="adviser" line="(ANGRY) Hey!" %}
	{% include 2015-cinderella/line.html character="queen" line="Don't push your luck here." %}
	{% include 2015-cinderella/line.html character="charming" line="Luck? The only person that's ever liked me for me has just vanished into the mist. And you're just flittering about the place like nothing's happened." %}
	{% include 2015-cinderella/line.html character="queen" line="You're going to fight me on this then?" %}
	{% include 2015-cinderella/line.html character="charming" line="I'm not fighting you I'm asking for your help." %}
	{% include 2015-cinderella/line.html character="queen" line="Look, your father and I have had enough of this." %}
	<div class="stage-direction">charming turns away exasperated.</div>
	{% include 2015-cinderella/line.html character="queen" line="You don't learn, and you don't seem to care how your actions affect everyone around you. So we've decided this is it." hideCharacter="true" %}
	{% include 2015-cinderella/line.html character="charming" line="This is what?" %}
	{% include 2015-cinderella/line.html character="queen" line="The last time, the last chance. You marry someone else from the ball [or give up your title.]" %}
	{% include 2015-cinderella/line.html character="charming" line="No I'm not going to do that!" %}
	{% include 2015-cinderella/line.html character="queen" line="(REPEATS SLOWLY) Or give up your title!" %}
	<div class="stage-direction">Silence. Charming looks at King</div>
	{% include 2015-cinderella/line.html character="charming" line="My title?" %}
	{% include 2015-cinderella/line.html character="queen" line="Give up your right to the throne, our money, our support and everything else... Or marry someone else, because we've had enough." %}
	{% include 2015-cinderella/line.html character="charming" line="What is this!? I'm just trying to protect what matters to me, like you taught me." %}
	<div class="stage-direction">Silence, the queen doesn't respond.</div>
	{% include 2015-cinderella/line.html character="charming" line="You always put the Kingdom first don't you..." %}
</div>
