<div class="lines cf">
    {% if include.title %}<div class="title">{{ include.title }}</div>{% endif %}
    
	{% include 2015-cinderella/line.html character='queen' line='Wait, where\'s Charming?' %}
	{% include 2015-cinderella/line.html character='king' line='Yes! <span class="direction">to dandini</span> Dandini, where is he?' %}

	{% include 2015-cinderella/line.html character='dandini' line='Oh, hah, I suggested, you\'ll like this, that he make a grand entrance first.' %}
    {% include 2015-cinderella/line.html character='king' line='This is no time for carpentry Dandini there are guests to attend to!' %}
    {% include 2015-cinderella/line.html character='dandini' line='No he\'s not <u>building</u> an entrance, he\'s <u>making</u> an entrance.' %}
    {% include 2015-cinderella/line.html character='king' line='Oh that\'s right... <span class="direction">confused, pause</span> but you said he was <u>nailing</u> it remember?' %}
    <div class="stage-direction">pause and appeal to audience</div>
    {% include 2015-cinderella/line.html character='dandini' line='No! He <u>nailed</u> the flourish, the theatrical apperance. Aghh he\'ll probably <u>screw it up</u> anyway.' %}
    {% include 2015-cinderella/line.html character='king' line='Ah! <span class="direction">points at dandini</span>' %}
    <div class="stage-direction">appeal to audience again</div>
    {% include 2015-cinderella/line.html character='dandini' line='No I didn\'t mean–' %}
    <div class="stage-direction"><strong>band: fanfare</strong></div>
    <div class="stage-direction">everyone moves to receive charming</div>
    {% include 2015-cinderella/line.html character='organiser' line='His Royal Highness, Prince Charming!' %}

    {% include 2015-cinderella/line-break.html text="later in the script" %}
    
    {% include 2015-cinderella/line.html character='king' line='Well I\'m bored already... Look, Dandini, I\'m sorry about last night [I didn\'t mean to explode on you like that.]' %}
    {% include 2015-cinderella/line.html character='dandini' line='It\'s fine sire. Come on Charming let\'s start this.' %}
    <div class="stage-direction">they join king and queen</div>
    {% include 2015-cinderella/line.html character='queen' line='<span class="direction">ignoring</span> Oh don\'t you look lovely–' %}
    {% include 2015-cinderella/line.html character='king' line='As always.' %}
    {% include 2015-cinderella/line.html character='charming' line='Thanks.' %}
</div>
