<!-- <li><a href="{{ page.root }}characters/charming/">Charming</a></li> -->
<li><a href="{{ page.root }}characters/cinderella/">Cinderella</a></li>
<li><a href="{{ page.root }}characters/dandini/">Dandini</a></li>
<!-- <li><a href="{{ page.root }}characters/buttons/">Buttons</a></li> -->
<!-- <li><a href="{{ page.root }}characters/baroness/">Baroness</a></li> -->
<!-- <li><a href="{{ page.root }}characters/camilla/">Camilla</a></li> -->
<!-- <li><a href="{{ page.root }}characters/drusilla/">Drusilla</a></li> -->
<!-- <li><a href="{{ page.root }}characters/fairy/">Fairy</a></li> -->
<!-- <li><a href="{{ page.root }}characters/king/">King</a></li> -->
<!-- <li><a href="{{ page.root }}characters/queen/">Queen</a></li> -->
<!-- <li class="divider"></li> -->
<!-- <li><a href="{{ page.root }}characters/organiser/">Organiser</a></li> -->
<!-- <li><a href="{{ page.root }}characters/mail/">Royal Mail</a></li> -->
<!-- <li><a href="{{ page.root }}characters/guards/">Guards</a></li> -->
<!-- <li><a href="{{ page.root }}characters/advisers/">Advisers</a></li> -->
<!-- <li><a href="{{ page.root }}characters/advisers/">Villagers</a></li> -->
