<li><a href="{{ page.root }}characters/cinderella/">Cinderella</a></li>
<li><a href="{{ page.root }}characters/dandini/">Dandini</a></li>
<li><a href="{{ page.root }}characters/buttons/">Buttons</a></li>
<li><a href="{{ page.root }}characters/baroness/">Baroness</a></li>
<li><a href="{{ page.root }}characters/hyacinth-lowercinth/">Hyacinth</a></li>
<li><a href="{{ page.root }}characters/hyacinth-lowercinth/">Lowercinth</a></li>
<li><a href="{{ page.root }}characters/fairy-godmother/">Godmother</a></li>
<li class="divider"></li>
<li><a href="{{ page.root }}choir/">Choir</a></li>
<li><a href="{{ page.root }}everyone/">Everyone</a></li>
