// Mixins alphabetically ordered

@mixin animation($animation) {
    -webkit-animation: $animation;
       -moz-animation: $animation;
        -ms-animation: $animation;
         -o-animation: $animation;
            animation: $animation;
}
@mixin animation-duration($duration) {
    -webkit-animation-duration: $duration;
       -moz-animation-duration: $duration;
        -ms-animation-duration: $duration;
         -o-animation-duration: $duration;
            animation-duration: $duration;
}
@mixin animation-fill-mode($mode) {
    animation-fill-mode: $mode;
}
@mixin animation-name($name) {
    -webkit-animation-name: $name;
       -moz-animation-name: $name;
        -ms-animation-name: $name;
         -o-animation-name: $name;
            animation-name: $name;
}
@mixin animation-direction($direciton) {
    -webkit-animation-direciton: $direciton;
       -moz-animation-direciton: $direciton;
        -ms-animation-direciton: $direciton;
         -o-animation-direciton: $direciton;
            animation-direciton: $direciton;
}
@mixin background-size($size) {
    -webkit-background-size: $size;
       -moz-background-size: $size;
        -ms-background-size: $size;
         -o-background-size: $size;
            background-size: $size;
}
@mixin border-radius($size) {
    -webkit-border-radius: $size;
       -moz-border-radius: $size;
        -ms-border-radius: $size;
         -o-border-radius: $size;
            border-radius: $size;
}
@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
        -ms-box-shadow: $shadow;
         -o-box-shadow: $shadow;
            box-shadow: $shadow;
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content
    }
    @-moz-keyframes #{$name} {
        @content
    }
    @-o-keyframes #{$name} {
        @content
    }
    @keyframes #{$name} {
        @content
    }
}
@mixin torn-paper($color, $color2) {
    background: -webkit-linear-gradient($color2 0%, transparent 0%), -webkit-linear-gradient(135deg, $color 33.33%, transparent 33.33%) 0 0%, $color -webkit-linear-gradient(45deg, $color 33.33%, $color2 33.33%) 0 0%;
    background:    -moz-linear-gradient($color2 0%, transparent 0%),    -moz-linear-gradient(135deg, $color 33.33%, transparent 33.33%) 0 0%, $color    -moz-linear-gradient(45deg, $color 33.33%, $color2 33.33%) 0 0%;
    background:     -ms-linear-gradient($color2 0%, transparent 0%),     -ms-linear-gradient(135deg, $color 33.33%, transparent 33.33%) 0 0%, $color     -ms-linear-gradient(45deg, $color 33.33%, $color2 33.33%) 0 0%;
    background:      -o-linear-gradient($color2 0%, transparent 0%),      -o-linear-gradient(135deg, $color 33.33%, transparent 33.33%) 0 0%, $color      -o-linear-gradient(45deg, $color 33.33%, $color2 33.33%) 0 0%;
    background:         linear-gradient($color2 0%, transparent 0%),         linear-gradient(135deg, $color 33.33%, transparent 33.33%) 0 0%, $color         linear-gradient(45deg, $color 33.33%, $color2 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
}
@mixin transform($transform) {
    -webkit-transform: $transform;
       -moz-transform: $transform;
        -ms-transform: $transform;
         -o-transform: $transform;
            transform: $transform;
}
@mixin transition-timing-function($function) {
    -webkit-transition-timing-function: $function;
       -moz-transition-timing-function: $function;
        -ms-transition-timing-function: $function;
         -o-transition-timing-function: $function;
            transition-timing-function: $function;
}
