---
---

@import '2015-cinderella/reset';
@import '2015-cinderella/mixins';
@import '2015-cinderella/clearfix';

html {
    overflow-y: scroll;
}

/**
 * Typography / colour
 */
body, p, ul, ol {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    font-weight: 400;
    font-style: normal;
    color: #424242;
}
p, ul, ol, table {
    margin-bottom: 28px;
}
a {
    text-decoration: none;
    color: #0085bd;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 700;
    font-style: normal;
    color: #212121;
}
h1 {
    font-size: 24px;
    a {
        color: #212121; 
    }
}
h1.title {
    text-align: center;
}
h2 {
    font-size: 20px;
    color: #212121;
    padding-bottom: 18px;
}
table th {
    text-align: left;
}
#site #canvas #page-wrapper ul {
    list-style: square inside none;
}

@include keyframes(articleHeader) {
    0% {
        opacity: 0;
        @include transform(translate3d(0,10px,0));
    }
    80% {
        opacity: 1;
        @include transform(none);
    }
}
@include keyframes(articleBody) {
    20% {
        opacity: 0;
        @include transform(translate3d(0,10px,0));
    }
    100% {
        opacity: 1;
        @include transform(none);
    }
}

@include keyframes(exitingIntroCanvas) {
    20% {
        @include transform(none);
    }

    100% {
        @include transform(translate3d(0,-80px,0));
    }
}
@include keyframes(exitingIntroWhoAreWe) {
    0% {
        opacity: 1;
        @include transform(none);
    }
    20% {
        opacity: 0;
        @include transform(none);
    }
    100% {
        opacity: 0;
        @include transform(translate3d(0,80px,0));
    }
}
@include keyframes(exitingIntroNav) {
    20% {
        @include transform(none);
    }

    100% {
        @include transform(translate3d(60px,0,0));
    }
}
@include keyframes(exitingIntroNavBody) {
    0% {
        opacity: 1;
        @include transform(none);
    }

    20% {
        opacity: 0;
        @include transform(translate3d(0,10px,0));
    }
    100% {
        opacity: 0;
    }
}

@include keyframes(enteringIntroCanvas) {
    0% {
        @include transform(translate3d(0,-80px,0));
    }
    80% {
        @include transform(translate3d(0,0px,0));
    }
}
@include keyframes(enteringIntroWhoAreWe) {
    0% {
        opacity: 0;
        @include transform(translate3d(0,80px,0));
    }
    80% {
        opacity: 0;
        @include transform(translate3d(0,0px,0));
    }
    100% {
        opacity: 1;
    }
}
@include keyframes(enteringIntroNav) {
    0% {
        @include transform(none);
    }

    100% {
        @include transform(translate3d(-60px,0,0));
    }
}
@include keyframes(enteringIntroContent) {
    0% {
        opacity: 1;
        @include transform(none);
    }

    100% {
        opacity: 0;
        @include transform(translate3d(0,-10px,0));
    }
}
@include keyframes(enteredIntroNavBody) {
    0% {
        opacity: 0;
        @include transform(translate3d(0,-10px,0));
    }

    10% {
        opacity: 1;
        @include transform(none);
    }
}

@mixin anim {
    @include animation-duration(0.25s);
    @include transition-timing-function(ease-in);
    @include animation-fill-mode(both);
}


@include keyframes(introTitle) {
    0% {
        opacity: 0;
        @include transform(scale(0,0));
    }

    20% {
        opacity: 1;
        @include transform(none);
    }
}
@include keyframes(introWhoAreWe) {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}
@include keyframes(introNavLeft) {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
        @include transform(translate3d(0,-50px,0));
    }

    70% {
        opacity: 1;
        @include transform(none);
    }
}
@include keyframes(introNavRight) {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
        @include transform(translate3d(0,-50px,0));
    }

    75% {
        opacity: 1;
        @include transform(none);
    }
}

@mixin introAnim {
    @include animation-duration(4s);
    @include transition-timing-function(ease-in);
    @include animation-fill-mode(both);
}

/** 
 * Structure
 */
#site {
    margin: 0 auto;
    padding: 130px;

    .anim {
        @include introAnim;
    }

    #who-are-we {
        font-family: 'Stalemate', cursive;
        font-size: 80px; text-align:center;
        margin-bottom: 0;
        line-height: 1em;
        display: none;
    }

    &.intro {
        #canvas #who-are-we {
            display: block;
        }

        &.not-from-page #canvas {
            // First time intro animations
            #who-are-we {
                @include animation-name(introWhoAreWe);
            }
            #nav-wrapper {
                #nav-story {
                    @include introAnim;
                    @include animation-name(introNavLeft);
                }
                #nav-music {
                    @include introAnim;
                    @include animation-name(introNavRight);
                }
            }
            .site-title a {
                @include animation-name(introTitle);
            }

            // This class is used by JS to kill the intro animations
            #who-are-we.skip-anim,
            #nav-wrapper.skip-anim,
            #nav-wrapper #nav-story.skip-anim,
            #nav-wrapper #nav-music.skip-anim,
            .site-title a.skip-anim {
                @include animation(instant-in 1ms ease-out);
                @include animation-fill-mode(forwards);
            }
        }

        &.from-page #canvas {
            #nav-wrapper {
                ul li ul {
                    @include introAnim;
                    @include animation-name(enteredIntroNavBody);
                }
            }
        }
    }

    &.from-intro.not-to-intro #canvas {
        // When exiting the intro page to any other page
        @include anim;
        @include animation-name(exitingIntroCanvas);

        #who-are-we {
            @include anim;
            @include animation-name(exitingIntroWhoAreWe);
        }

        #nav-global {
            @include anim;
            @include animation-name(exitingIntroNav);

            ul li ul {
                @include anim;
                @include animation-name(exitingIntroNavBody);
            }
        }
    }

    // When exiting a normal page to visit the intro page again
    &.to-intro.not-from-intro #canvas {
        @include anim;
        @include animation-name(enteringIntroCanvas);

        #who-are-we {
            display: block;
            @include anim;
            @include animation-name(enteringIntroWhoAreWe);
        }

        #nav-global {
            @include anim;
            @include animation-name(enteringIntroNav);
        }

        #page-wrapper,
        #footer-wrapper {
            @include anim;
            @include animation-name(enteringIntroContent);
        }
    }

    #canvas.exiting {
        #page-wrapper {
            article {
                header,
                .body {
                    @include animation-direction(alternate-reverse);
                }
            }
        }
    }

    #canvas {
        padding: 0;
        max-width: 1100px;
        margin: 0 auto;
        min-height: 600px;

        #header-wrapper {
            padding-bottom: 80px;

            #header {
                max-width: 1100px;
                padding: 0;
                position: relative;
                text-align: center;
                width: 100%;
                vertical-align: middle;
            }

            #header h1.site-title {
                font-family: 'Montserrat', sans-serif;
                // font-family: 'Stalemate', cursive;
                line-height: 1em;
                text-transform: uppercase;
                font-weight: 700;
                font-style: normal;
                font-size: 80px;
                text-align: center;
                display: block;
                margin: 0 auto 28px;
                color: #121212;
                letter-spacing: 0.125em;

                a {
                    color: #121212;

                    -webkit-transition: padding 2s;
                }
                a:hover {
                    color: #c9c9c9;
                }
            }
            #nav-global {
                width: auto;
                text-align: center;
                padding: 28px 0;

                ul {
                    font-size: 13px;
                    line-height: 1.5em;
                    font-family: 'Open Sans', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 0;
                    font-style: normal;
                }

                ul > li > a {
                    padding: 0 0.8em;
                }

                ul > li {
                    display: inline-block;
                    text-align: center;
                }
                ul > li > ul {
                    background-color: #fff;
                    box-shadow: 0 0 50px #fff;
                    text-transform: none;
                    padding: 5px 0;
                    line-height: 1.8em;
                }
                ul > li > ul > li {
                    text-align: left;
                    display: block;
                    position: relative;

                }
                a,
                a:visited {
                    color: #666;
                }
                > ul > li a:hover,
                > ul > li a:active,
                > ul > li.active > a {
                    color: #c9c9c9;
                }
                > ul > li > ul {
                    width: auto;
                }
            }

            /**
             * Fancy navigation
             */
            #nav-global {
                position: relative;
                left: -30px;

                > a {
                    display: none;
                }

                li {
                    position: relative;

                    &.divider {
                        height: 20px;
                    }

                    ul {
                        display: none;
                        position: absolute;
                        top: 100%;
                        z-index: 1;
                    }
                    
                    ul.characters {
                        width: 100%;

                        li {
                            text-align: right;
                        }
                    }
                    &:hover ul {
                        display: block;
                    }
                }

                > ul {}
                > ul > li {}
            }

            &.nav-show-all #nav-global {
                left: -90px;
                height: 500px;

                > ul > li {
                    font-style: bold;
                    padding-bottom: 30px;

                    > a {
                        color: #212121;
                    }
                }

                li ul {
                    display: block;
                    width: 100%;
                }
            }
        }

        #page-wrapper {
            .byline {
                display: block;
                margin-bottom: 28px;
                text-align: center;
                line-height: 1.6em;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                color: #4a4a4a;
            }
            article {
                position: relative;
                max-width: 750px;
                margin: 0 auto;

                header {
                    margin: 0 0 80px;

                    .character-name {
                        font-family: 'Stalemate', cursive;
                        font-size: 70px;
                    }
                    .byline,
                    .character-description {
                        font-size: 14px;
                    }
                    .byline .character {
                        font-family: 'Stalemate', cursive;
                        font-size: 30px;
                        text-transform: none;
                    }
                    .character-description {
                        // font-family: 'Shadows Into Light', cursive;
                        // font-family: 'Stalemate', cursive;
                        margin: 0 auto;
                        text-align: center;
                        font-weight: 400;
                        // font-size: 30px;
                    }

                    @include anim;
                    @include animation-name(articleHeader);
                }

                .body {
                    @include anim;
                    @include animation-name(articleBody);
                }
            }

            .song-status {
                .red,
                .amber,
                .green {
                    padding: 0 10px;
                }
                .red {
                    background-color: #e00;
                    color: #500;
                    border-color: #a00;
                }
                .amber {
                    background-color: #fa0;
                    color: #830;
                    border-color: #a50;
                }
                .green {
                    background-color: #0d0;
                    color: #060;
                    border-color: #080;
                }
            }

            ul.song-status {
                list-style: none;
                margin: 0;
                margin-bottom: 10px;
                padding: 0;
                padding-bottom: 30px;
                width: auto;
                text-align: center;

                li.red,
                li.amber,
                li.green {
                    display: block;
                    text-align: center;
                    margin-bottom: 0px;
                    line-height: 1em;
                    padding: 7px 10px;
                }
            }

            table.song-status {
                td.red,
                td.amber,
                td.green {
                    text-align: center;
                    margin-bottom: 0px;
                    line-height: 1em;
                    padding: 7px 10px;
                }
            }

            .resources {
                width: 100%;
                margin: 0 auto;
                // max-width: 400px;

                th {
                    border-bottom: 1px solid #eee;
                }
                .disabled {
                    opacity: 0.5;
                }
            }

            .container {
                margin-bottom: 28px;
                clear: left;

                .left {
                    float: left;
                    width: 200px;

                    h2 {
                        text-align: right;
                        padding-right: 10px;
                    }   
                }

                .right {
                    overflow: hidden;
                }

                .right-inner {
                    padding-left: 20px;
                }
            }

            .note {
                font-family: 'Shadows Into Light', cursive;
            }
        }

        // &.is-exiting {
        //     #page-wrapper {
        //         article {
        //             @include animation-name(articleHeaderReverse);

        //             .body {
        //                 @include animation-name(articleBodyReverse);
        //             }
        //         }
        //     }
        // }

        #footer-wrapper {}
    }
}


@media only screen and (max-width: 1024px) {
    #site #canvas {
        #header-wrapper {
            padding-bottom: 28px !important;
        }
        #page-wrapper article header {
            margin: 0 0 38px;
        }
    }
}
@media only screen and (max-width: 960px) {
    #site {
        overflow: hidden;
        padding: 50px;
    }
}
@media only screen and (max-width: 40em) {
    #site #canvas #page-wrapper {
        .container {
            .left {
                float: left;
                width: 100%;

                .left h2 {
                    text-align: left;
                }
            }
            .right {
                width: 100%;
                float: left;
            }
            .right-inner {
                padding-left: 0px;
            }
        }
        
        ul.song-status li {
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 6px;
        }
        
    }
}



/*
@media only screen and (max-width: 40em) {
    #site #canvas #header-wrapper #nav-global {
        position: relative;
    }
    #site #canvas #header-wrapper #nav-global > a {}
    #site #canvas #header-wrapper #nav-global:not( :target ) > a:first-of-type,
    #site #canvas #header-wrapper #nav-global:target > a:last-of-type {
        display: block;
    }
    #site #canvas #header-wrapper #nav-global > ul {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
    #site #canvas #header-wrapper #nav-global:target > ul {
        display: block;
    }
    #site #canvas #header-wrapper #nav-global > ul > li {
        width: 100%;
        float: none;
    }
    #site #canvas #header-wrapper #nav-global li ul {
        position: static;
    }
}
*/
