---
---

@import '2015-cinderella/reset';
@import '2015-cinderella/mixins';
@import '2015-cinderella/clearfix';


$header-height-big-base: 188px;
$header-height-small-base: 108px;
$header-positioner-big-padding: 200px;
$header-positioner-small-padding: 80px;

$header-height-big: $header-height-big-base + $header-positioner-big-padding;
$header-height-small: $header-height-small-base - $header-positioner-small-padding;
$header-height-diff: $header-height-big - $header-height-small;
$small-header-bg-offset: 260px;

html {
    overflow-y: scroll;
}



/**
 * Typography / colour
 */
body, p, ul, ol {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7em;
    font-weight: 400;
    font-style: normal;
    color: #424242;
}
p, ul, ol, table {
    margin-bottom: 28px;
}
a {
    text-decoration: none;
    color: #0085bd;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 700;
    font-style: normal;
    color: #212121;
}
h1 {
    font-size: 24px;
    a {
        color: #212121; 
    }
}
h1.title {
    text-align: center;
}
h2 {
    font-size: 20px;
    color: #212121;
    padding-bottom: 18px;
}
table th {
    text-align: left;
}
#site #canvas #page-wrapper ul {
    list-style: square inside none;
}

@import '2015-cinderella/animation';


// Structure

#site {
    width: 100%;

    #canvas {
        #header {
            overflow: hidden;

            #positioner {
                padding-top: $header-positioner-big-padding;
                padding-bottom: $header-positioner-big-padding;

                #title,
                #who-are-we {
                    position: relative;
                    z-index: 10;
                }
            }

            // position: relative;

            #header-bg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;

                background: url('https://s3-eu-west-1.amazonaws.com/pantohq/2015-cinderella/img/bg/castle.jpg') no-repeat center 0px;
                @include background-size(cover);

                z-index: 0;

                height: 588px;
                // padding-bottom: $header-height-diff;
            }
        }

        &.small-header {
            #header #positioner {
                padding-top: $header-positioner-small-padding;
                padding-bottom: $header-positioner-small-padding;

                #title {
                    margin-bottom: 0;
                }
            }

            #header #header-bg {
                top: -$small-header-bg-offset;
            }

            &.exiting #header-bg {
                top: 0;
            }
        }
    }
}

.ask {
    text-align: center;
}
.ask .who {
    margin-bottom: 0;
}
.ask .why {
    font-size: 13px;
}


// Typography and colour

#site {
    #canvas #header-wrapper #header #title a {
        color: #fff;
        text-shadow: 0 0 1px rgba(0,0,0,0.5);
    }
    #who-are-we {
        font-family: 'Stalemate', cursive;
        font-size: 80px;
        text-align: center;
        margin-bottom: 0;
        line-height: 1em;
        display: none;
        color: #fff;
    }
}

#site {

    #canvas {
        padding: 0;
        // max-width: 1100px;
        // margin: 0 auto;
        // min-height: 600px;

        #header-wrapper {
            padding-bottom: 80px;

            #header {
                // max-width: 1100px;
                // padding: 0;
                position: relative;
                text-align: center;
                width: 100%;
                vertical-align: middle;
            }

            #header h1.site-title {
                font-family: 'Montserrat', sans-serif;
                // font-family: 'Stalemate', cursive;
                line-height: 1em;
                text-transform: uppercase;
                font-weight: 700;
                font-style: normal;
                font-size: 80px;
                text-align: center;
                display: block;
                margin: 0 auto 28px;
                color: #121212;
                letter-spacing: 0.125em;

                a {
                    color: #121212;

                    -webkit-transition: padding 2s;
                }
                a:hover {
                    color: #c9c9c9;
                }
            }
            #nav-global {
                width: auto;
                text-align: center;
                padding: 28px 0;

                ul {
                    font-size: 13px;
                    line-height: 1.5em;
                    font-family: 'Open Sans', sans-serif;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 0;
                    font-style: normal;
                }

                ul > li > a {
                    padding: 0 0.8em;
                }

                ul > li {
                    display: inline-block;
                    text-align: center;
                }
                ul > li > ul {
                    background-color: #fff;
                    box-shadow: 0 0 50px #fff;
                    text-transform: none;
                    padding: 5px 0;
                    line-height: 1.8em;
                }
                ul > li > ul > li {
                    text-align: left;
                    display: block;
                    position: relative;

                }
                a,
                a:visited {
                    color: #666;
                }
                > ul > li a:hover,
                > ul > li a:active,
                > ul > li.active > a {
                    color: #c9c9c9;
                }
                > ul > li > ul {
                    width: auto;
                }
            }

            /**
             * Fancy navigation
             */
            #nav-global {
                position: relative;
                left: -30px;

                > a {
                    display: none;
                }

                li {
                    position: relative;

                    &.divider {
                        height: 20px;
                    }

                    ul {
                        display: none;
                        position: absolute;
                        top: 100%;
                        z-index: 1;
                    }
                    
                    ul.characters {
                        width: 100%;

                        li {
                            text-align: right;
                        }
                    }
                    &:hover ul {
                        display: block;
                    }
                }

                > ul {}
                > ul > li {}
            }

            &.nav-show-all #nav-global {
                left: -90px;
                height: 500px;

                > ul > li {
                    font-style: bold;
                    padding-bottom: 30px;

                    > a {
                        color: #000;
                    }
                }

                li ul {
                    display: block;
                    width: 100%;
                    background-color: transparent;
                    box-shadow: none;
                }
            }
        }

        #page-wrapper {
            padding: 0 20px 150px;

            .byline {
                display: block;
                margin-bottom: 28px;
                text-align: center;
                line-height: 1.6em;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                color: #4a4a4a;
            }
            article {
                position: relative;
                max-width: 750px;
                margin: 0 auto;

                header {
                    margin: 0 0 80px;

                    .character-name {
                        font-family: 'Stalemate', cursive;
                        font-size: 70px;
                    }
                    .byline,
                    .character-description {
                        font-size: 14px;
                    }
                    .byline .character {
                        font-family: 'Stalemate', cursive;
                        font-size: 30px;
                        text-transform: none;
                    }
                    .character-description {
                        // font-family: 'Shadows Into Light', cursive;
                        // font-family: 'Stalemate', cursive;
                        margin: 0 auto;
                        text-align: center;
                        font-weight: 400;
                        // font-size: 30px;
                    }

                    @include anim;
                    @include animation-name(articleHeader);

                    &.character-cinderella {
                        background: url('https://s3-eu-west-1.amazonaws.com/pantohq/2015-cinderella/img/bg/cinderella.jpg') repeat;
                        height: 200px;
                        color: white;
                    }
                }

                .body {
                    @include anim;
                    @include animation-name(articleBody);
                }
            }

            .song-status,
            .colour-blocks {
                .red,
                .amber,
                .green {
                    padding: 0 10px;
                }
                .red {
                    background-color: #e00;
                    color: #500;
                    border-color: #a00;
                }
                .amber {
                    background-color: #fa0;
                    color: #830;
                    border-color: #a50;
                }
                .green {
                    background-color: #0d0;
                    color: #060;
                    border-color: #080;
                }
            }

            ul.song-status,
            ul.colour-blocks {
                list-style: none;
                margin: 0;
                margin-bottom: 10px;
                padding: 0;
                padding-bottom: 30px;
                width: auto;
                text-align: center;

                li.red,
                li.amber,
                li.green {
                    display: block;
                    text-align: center;
                    margin-bottom: 0px;
                    line-height: 1em;
                    padding: 7px 10px;
                }
            }

            table.song-status,
            table.colour-blocks {
                td.red,
                td.amber,
                td.green {
                    text-align: center;
                    margin-bottom: 0px;
                    line-height: 1em;
                    padding: 7px 10px;
                }
            }

            .resources {
                width: 100%;
                margin: 0 auto;
                // max-width: 400px;

                th {
                    border-bottom: 1px solid #eee;
                }
                .disabled {
                    opacity: 0.5;
                }
            }

            .container {
                margin-bottom: 28px;
                clear: left;

                &+h2 {
                    clear: left;
                }

                .left {
                    float: left;
                    width: 200px;

                    h2 {
                        text-align: right;
                        padding-right: 10px;
                    }   
                }

                .right {
                    overflow: hidden;
                }

                .right-inner {
                    padding-left: 20px;
                    position: relative;
                    top: -5px;

                    p:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .note {
                font-family: 'Shadows Into Light', cursive;
            }

        }

        // &.is-exiting {
        //     #page-wrapper {
        //         article {
        //             @include animation-name(articleHeaderReverse);

        //             .body {
        //                 @include animation-name(articleBodyReverse);
        //             }
        //         }
        //     }
        // }

        #footer-wrapper {}
    }
}


@media only screen and (max-width: 1024px) {
    #site #canvas {
        #header-wrapper {
            padding-bottom: 28px !important;
        }
        #page-wrapper article header {
            margin: 0 0 38px;
        }
    }
}
@media only screen and (max-width: 960px) {
    #site {
        overflow: hidden;
        // padding: 50px;
    }
}
@media only screen and (max-width: 40em) {
    #site #canvas #page-wrapper {
        padding: 0 20px 20px;
        .container {
            .left {
                float: left;
                width: 100%;

                h2 {
                    text-align: left;
                }
            }
            .right {
                width: 100%;
                float: left;
            }
            .right-inner {
                padding-left: 0px;
            }
        }
        
        ul.song-status li,
        ul.colour-blocks li {
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 6px;
        }
        
    }
}

#lines {
    margin-bottom: 120px;

    .lines-group {
        display: none;
    }

    .lines-characters {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        margin-bottom: 40px;
    }
    .lines-characters li {
        display: inline-block;
        padding: 4px 8px;
    }
    .lines-characters li.active {
        border-bottom: 2px solid #666;
    }
}

.lines {
    font-family: "Courier New", Courier, monospace;

    border: 2px solid #eee;
    padding: 40px 0 20px;
    margin-bottom: 60px;

    @include box-shadow(0 0 50px #eee);

    @include torn-paper(#fff, #eee);

    .title {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .line,
    .stage-direction {
        margin: 0 40px 15px;
    }

    .line {
        .line-character > .wrapper {
            // cursor: pointer;
        }

        .highlightable.highlight {
            background-color: yellow;
        }

        .line-character {
            width: 20%;
            display: block;
            float: left;
            text-transform: capitalize;

            &:not(.empty)::after {
                content: ':';
            }
        }
        .line-character.empty {
            height: 20px;
        }


        .line-text {
            width: 80%;
            display: block;
            float: left;

            .direction {
                text-transform: uppercase;

                &::before { content: '(' }
                &::after  { content: ')' }
            }
        }
    }

    .stage-direction {
        margin-left: 40%;
        text-transform: uppercase;
    }

    .break {
        // border-top: 1px solid #eee;
        margin-top: 20px;
        padding-bottom: 40px;

        text-align: center;

        span {
            position: relative;
            top: 38px;
            padding: 0 20px;
            font-family: 'Open Sans', sans-serif;
            color: #888;
            font-size: 14px;
        }

        @include torn-paper(#eee, #fff);
    }
    .break-close {
        @include torn-paper(#fff, #eee);
        display: block;
        width: 100%;
        height: 20px;
        margin-bottom: 20px;
    }
}



/*
@media only screen and (max-width: 40em) {
    #site #canvas #header-wrapper #nav-global {
        position: relative;
    }
    #site #canvas #header-wrapper #nav-global > a {}
    #site #canvas #header-wrapper #nav-global:not( :target ) > a:first-of-type,
    #site #canvas #header-wrapper #nav-global:target > a:last-of-type {
        display: block;
    }
    #site #canvas #header-wrapper #nav-global > ul {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }
    #site #canvas #header-wrapper #nav-global:target > ul {
        display: block;
    }
    #site #canvas #header-wrapper #nav-global > ul > li {
        width: 100%;
        float: none;
    }
    #site #canvas #header-wrapper #nav-global li ul {
        position: static;
    }
}
*/
