<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="description" content="">
        <meta name="author" content="Marcus Whybrow">
        <meta name="google-site-verification" content="2Q5E6CjdXeXo_-0VhM68GTnGGjqC9mr-4iRqD_Mn4qA" />
        <link rel="author" href="https://plus.google.com/103832793361409130288/posts">

        <base href="/2015-cinderella/">

        <!-- Style -->
        <link rel="stylesheet" href="assets/css/main.css">

        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

        
        <!--[if lt IE 9]>
            <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

{% include 2015-cinderella/analytics.html %}
    </head>

    <body class="style-thin panto">  
        <div id="site" class="{{ page.site_class }}">
            <div id="canvas" class="entering {{ page.canvas_class }}">
{{ content }}
            </div>

        </div>
    </body>
    
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="assets/js/lib/jquery.smoothState.js"></script>
    <script src="assets/js/lib/jquery.fittext.js"></script>
    <script src="assets/js/main.js"></script>

</html>
