---
layout: 2015-cinderella-page
canvas_class: small-header
---

<style type="text/css">
	#site #canvas #page-wrapper #rehearsal-tracks {
		background-color: #333;
        padding: 60px 0 1px;
        background-image: linear-gradient(#ddd, #aaa);
        border-top: 1px solid #ccc;
        margin-bottom: 60px;
	}
	#site #canvas #page-wrapper .audio-resources {
		max-width: 984px;
		padding: 0 20px;
		margin: 0 auto 60px;
	}
	#site #canvas #header-wrapper {
		padding-bottom: 40px;
	}
	#site #canvas #page-wrapper article header {
		margin-bottom: 40px;
	}
</style>

{{ content }}

<div class="ask">
    <p class="who">Questions? Ask <a href="mailto:marcus@pantohq.com">marcus@pantohq.com</a></p>
    <p class="why">Writer &amp; Musical Director</p>
</div>
