---
layout: 2015-cinderella-base
---
				<div id="header-wrapper">
                    <div id="header">
                        <h1 class="site-title">
                            <a href="{{ page.root }}">Cinderella</a>
                        </h1>
                    </div>

                    {% include 2015-cinderella/nav.html %}
                </div>
                <div id="page-wrapper">
                    {{ content }}
                </div>
                <div id="footer-wrapper">

                </div>
